.titulo {
    font-size: 55px;
  }

  .parrafo {
    font-size: 26px;
    animation: efectoTeclado 3s steps(200), efecto .5s step-end infinite alternate;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 7; }
    .div2 { grid-area: 2 / 1 / 10 / 5; 
      background-image: linear-gradient(black, #000e69); }
    .div3 { grid-area: 2 / 5 / 10 / 7; }
    .div4 { grid-area: 2 / 1 / 4 / 5; }
    .div5 { grid-area: 5 / 1 / 7 / 5; }
    .div6 { grid-area: 8 / 1 / 10 / 5; }
    .div7 { grid-area: 2 / 5 / 4 / 7; }
    .div8 { grid-area: 5 / 5 / 7 / 7; }
    .div9 { grid-area: 8 / 5 / 10 / 7; }

    @keyframes efectoTeclado {
      from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      }
      to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }

    @keyframes efecto2 {
      50% {
        border: transparent;
      }
    }
    